$theme-color: #86B330;
$fade-green:#81B570;
$deep-green:#587726;
$deep-grey:#888;
$light-grey:#B8B8B8;
$light-dark:#666666;
$light-dark-hover:#939393;
$deep-dark:#555;
$transparent-hover:rgba(0,0,0,0.03);
