@font-face {
	font-family: content-font;
	src: url(file:///Users/liule/Documents/practice3-HWhowItWork/fonts/AvenirLTStd-Light.otf);
}
@font-face {
	font-family: title-font;
	src: url(file:///Users/liule/Documents/practice3-HWhowItWork/fonts/AvenirLTStd-Medium.otf);
}
body {
	font-family: content-font;
}
